all:
  hosts:
    endpoint_a:
      ansible_host: <IP_ENDPOINT_A>
      ansible_user: root
      wg_address: 10.0.0.1/32
      wg_listen_port: 51821
    endpoint_b:
      ansible_host: <IP_ENDPOINT_B>
      ansible_user: root
      wg_address: 10.0.0.2/32
      wg_listen_port: 51822
